{% extends 'base.html.twig' %}

{% block title %}Редактировать фото | Админ{% endblock %}

{% block body %}
    <section class="p-4 rounded-4 bg-white shadow-sm">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="h3 mb-0">Редактирование фото: {{ photo.work.title }}</h1>
            <a class="btn btn-outline-dark" href="{{ path('admin_work_photo_index') }}">К списку</a>
        </div>
        {{ include('admin/work_photo/_form.html.twig', {form: form, button_label: 'Сохранить'}) }}
    </section>
{% endblock %}
