{% extends 'base.html.twig' %}

{% block title %}Новая страница | Админ{% endblock %}

{% block body %}
    <section class="p-4 rounded-4 bg-white shadow-sm">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="h3 mb-0">Создание страницы</h1>
            <a class="btn btn-outline-dark" href="{{ path('admin_page_index') }}">К списку</a>
        </div>
        {{ include('admin/page/_form.html.twig', {form: form, button_label: 'Создать'}) }}
    </section>
{% endblock %}
